<app-fire-works></app-fire-works>
<div class="bg-red-900 text-white p-3 pr-14 font-mali relative lg:p-8">
  <img class="absolute top-1 right-2 h-20 w-20 lg:h-28 lg:w-28" src="assets/images/yellow-apricot.png" alt="yellow apricot">
  <h2 class="text-xl lg:text-center">Năm mới xin chúc:</h2>
  <ul class="pl-4 list-inside list-disc lg:list-none relative lg:text-center">
    <li>Các bạn đang ế thì nhanh có người eo.</li>
    <li>Các bạn đã có ny thì nhanh lập gia đình.</li>
    <li>Các bạn đã có gia đình thì sẽ con đàn cháu đống.</li>
  </ul>
</div>
<div class="font-mali p-3 pt-6">
  <h2 class="text-lg font-semibold">Cùng nhìn lại những sự kiện lớn đã nổ ra trong năm nhé</h2>
</div>
<app-timeline></app-timeline>
