<!--<ul class="nav nav-pills card-header-pills">-->
<!--  <li class="nav-item">-->
<!--    <a class="nav-link"-->
<!--       routerLink="/">Home-->
<!--    </a>-->
<!--  </li>-->
<!--  <li class="nav-item">-->
<!--    <a class="nav-link"-->
<!--       routerLink="/admin">Admin-->
<!--    </a>-->
<!--  </li>-->
<!--  <li class="nav-item">-->
<!--    <a class="nav-link"-->
<!--       routerLink="/posts">Posts-->
<!--    </a>-->
<!--  </li>-->
<!--  <li class="nav-item">-->
<!--    <a class="nav-link"-->
<!--       routerLink="/birthday/login">Login-->
<!--    </a>-->
<!--  </li>-->
<!--  <li class="nav-item">-->
<!--    <a class="nav-link"-->
<!--       routerLink="/new-year/intro">New Year-->
<!--    </a>-->
<!--  </li>-->
<!--</ul>-->

<!--<app-example-container></app-example-container>-->

<router-outlet></router-outlet>
