<div [class]="tableDisplay ? 'display-dropdown-table' : ''">
  <ng-container *ngIf="nzOptions.length === 0 && !apiUrl">
    <nz-select
      [nzDisabled] = nzDisabled
      [nzLoading] = nzLoading
      [nzAllowClear] = nzAllowClear
      [nzPlaceHolder] = nzPlaceHolder
      [nzShowSearch] = nzShowSearch
      [nzServerSearch] = nzServerSearch
      [nzMode]="nzMode"
      [nzSize]="nzSize"
      [nzMaxTagCount]="nzMaxTagCount"
      [nzMaxTagPlaceholder]="nzMaxTagPlaceholder"
      [nzDropdownRender]="nzDropdownRender"
      [nzTokenSeparators]="nzTokenSeparators"
      [nzCustomTemplate]="nzCustomTemplate"
      [compareWith]="compareWith"
      (nzOnSearch)="nzOnSearch.emit($event)"
      (nzScrollToBottom)="nzScrollToBottom.emit()"
      [formControl]="value"
      (change)="changeVal($event)"
      (scrollend)="scrollToEnd()"
      (scroll)="scrollToEnd()"
    >
      <ng-container *ngIf="!apiUrl">
        <!-- Group option-->
        <ng-container *ngIf="optionGroups.length > 0">
          <ng-container *ngFor="let group of optionGroups; let i = index">
            <nz-option-group [nzLabel]="group.nzLabel">
              <ng-container *ngFor="let opt of group.options">
                <nz-option
                  [nzLabel]="opt.nzLabel"
                  [nzValue]="opt.nzValue"
                  [nzDisabled]="opt.nzDisabled"
                  [nzHide]="opt.nzHide"
                  [nzTitle]="opt.nzTitle"
                  [nzKey]="opt.nzKey"
                  [nzCustomContent]="opt.nzCustomContent"
                >
                  <ng-template [ngTemplateOutlet]="opt.template"></ng-template>
                </nz-option>
              </ng-container>
            </nz-option-group>
          </ng-container>
        </ng-container>

        <!-- Flat options-->
        <ng-container *ngIf="optionGroups.length === 0">
          <ng-container *ngFor="let opt of flatOptions;">
            <nz-option
              [nzLabel]="opt.nzLabel"
              [nzValue]="opt.nzValue"
              [nzDisabled]="opt.nzDisabled"
              [nzHide]="opt.nzHide"
              [nzTitle]="opt.nzTitle"
              [nzKey]="opt.nzKey"
              [nzCustomContent]="opt.nzCustomContent"
            >
              <ng-template [ngTemplateOutlet]="opt.template"></ng-template>
            </nz-option>
          </ng-container>
        </ng-container>
      </ng-container>
    </nz-select>
  </ng-container>

  <ng-container *ngIf="nzOptions.length !== 0 && !apiUrl">
    <nz-select
      [nzDisabled] = nzDisabled
      [nzLoading] = nzLoading
      [nzAllowClear] = nzAllowClear
      [nzPlaceHolder] = nzPlaceHolder
      [nzShowSearch] = nzShowSearch
      [nzServerSearch] = nzServerSearch
      [nzMode]="nzMode"
      [nzSize]="nzSize"
      [nzMaxTagCount]="nzMaxTagCount"
      [nzMaxTagPlaceholder]="nzMaxTagPlaceholder"
      [nzDropdownRender]="nzDropdownRender"
      [nzTokenSeparators]="nzTokenSeparators"
      [nzCustomTemplate]="nzCustomTemplate"
      [nzOptions]="nzOptions"
      [compareWith]="compareWith"
      (nzOnSearch)="nzOnSearch.emit($event)"
      (nzScrollToBottom)="scrollToEnd()"
      [formControl]="value"
      (change)="changeVal($event)"
      (scrollend)="scrollToEnd()"
      (scroll)="scrollToEnd()"

    >
    </nz-select>
  </ng-container>

  <ng-container *ngIf="apiUrl">
    <nz-select
      [nzDisabled] = nzDisabled
      [nzLoading] = nzLoading
      [nzAllowClear] = nzAllowClear
      [nzPlaceHolder] = nzPlaceHolder
      [nzShowSearch] = nzShowSearch
      [nzMode]="nzMode"
      [nzSize]="nzSize"
      [nzMaxTagCount]="nzMaxTagCount"
      [nzMaxTagPlaceholder]="nzMaxTagPlaceholder"
      [nzDropdownRender]="customDropdown"
      [nzTokenSeparators]="nzTokenSeparators"
      [nzCustomTemplate]="nzCustomTemplate"
      [compareWith]="compareWith"
      (nzOnSearch)="onSearch($event)"
      (nzScrollToBottom)="scrollToEnd()"
      [formControl]="value"
      (change)="changeVal($event)"
      (scrollend)="scrollToEnd()"
      (scroll)="scrollToEnd()"
      [nzDropdownClassName]="nzDropdownClassName"
      (click)="openDropdown()"
      [nzStatus]="value.invalid && value.touched ? 'error' : ''"
    >
      <ng-container *ngFor="let opt of listOptions;">
        <nz-option
          [nzLabel]="opt[this.apiConfig.label]"
          [nzValue]="opt[this.apiConfig.value]"
          [nzDisabled]="opt.nzDisabled"
          [nzHide]="opt.nzHide"
          [nzTitle]="opt.nzTitle"
          [nzKey]="opt.nzKey"
          [nzCustomContent]="tableDisplay ? true : opt.nzCustomContent"
        >
          <ng-container *ngIf="tableDisplay">
            <div class="row-data">
              <ng-container *ngFor="let col of tableColumns">
                <div class="col-data" [style.width.%]="col.width ? col.width : (100 / tableColumns.length)">{{opt[col.value]}}</div>
              </ng-container>
            </div>
          </ng-container>
<!--          <ng-container *ngIf="!tableDisplay">-->
<!--            <ng-template [ngTemplateOutlet]="opt.template"></ng-template>-->
<!--          </ng-container>-->
        </nz-option>
      </ng-container>

    </nz-select>
    <ng-template #customDropdown>
      <div class="dropdown-header" *ngIf="tableDisplay">
        <ng-container *ngFor="let col of tableColumns">
          <div class="col-name" [style.width.%]="col.width ? col.width : (100 / tableColumns.length)">{{col.label}}</div>
        </ng-container>
      </div>
      <div class="dropdown-footer" *ngIf="this.apiConfig.showCount && listOptions.length != 0">
        <span>{{'Display ' + listOptions.length + '/' + this.total + ' items'}}</span>
        <span *ngIf="apiCalling" nz-icon nzType="loading"></span>
      </div>
    </ng-template>
  </ng-container>
</div>
